@model ReplayFXSchedule.Web.Models.GameType

@{
    ViewBag.Title = "Edit";
}

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Edit Game Type</h4>
    </div>
    <div class="card-body">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.Partial("_form")
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
