@model List<ReplayFXSchedule.Web.Models.Convention>

@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
    ViewBag.Title = "Index";
}
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Edit Them Conventions!</h4>
    </div>
    <div class="card-body">
        @foreach (var convention in Model)
        {
        <h4>@Html.ActionLink(convention.Name, "ConventionHome", new { convention_id = convention.Id })</h4>
        }
    </div>
</div>



