@{
    ViewBag.Title = "ReplayFX Event Management";
}

<div class="homeLogo col-sm-6 col-sm-offset-3">
    <img class="img-responsive" src="/Content/img/replayfxlogo.png" alt="ReplyFX Logo"/>
    <h1>Event Management System</h1>
</div>