<script id="featured-template" type="text/x-handlebars-template">
    {{#each events}}
    <div class="carousel-item {{#if @first}} active{{/if}}">
        <div class="carousel-content">
            <h1 class="featured-event">{{title}}</h1>
            <h2 class="featured-time">{{startTime12}} - {{endTime12}}</h2>
            <h3 class="featured-location">LOCATION <span class="location-separator">|</span> {{location}}</h3> 
            {{#if extendedDescription}}
            <h3 class="featured-description">{{extendedDescription}}</h3>
            {{else}}
            <h3 class="featured-description">{{description}}</h3>
            {{/if}}  
        </div>
    </div>
    {{/each}}
</script>

<script id="event-template" type="text/x-handlebars-template">
    {{#each events}}
    <div class="marquee-content">
        <h1 class="marquee-time">{{startTime12}}</h1>
        <h1 class="marquee-event">{{title}}</h1>
        <h2 class="marquee-location"><span><i class="fa fa-map-marker-alt" aria-hidden="true"></i></span> {{location}}</h2>
    </div>
    
    {{/each}}
</script>