body {
    padding-top: 50px;
}

html, body {
  height: 100%;
  background:black;
  color:white;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    min-height: 100%;
  /* equal to footer height */
  margin-bottom: -70px; 
}

.body-content:after {
  content: "";
  display: block;
}
footer, .body-content:after {
  height: 70px; 
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea,
#ReplayEventTypes {
    max-width: 280px;
}

.navbar.navbar-inverse, footer {
    background-color:#9499e8;
}

.navbar.navbar-inverse a, .navbar-inverse .navbar-nav > li > a{
    color:black;
}

input[type="submit"], .btn-default.replayButton, .btn-default, .btn-primary{
   color:black;
   background-color: #9499e8;
   border: 1px solid white;
   margin-right:2em;
}


.table {
    border-collapse: collapse;
}

.table, th, td {
    border: 3px solid darkgray;
    color:black;
}

#ReplayEventTypes li span {
    margin-left:10px;
}

#ReplayEventTypes li
{
    list-style-type:none;
}

#ReplayEventTypes.form-control{
    height:auto;
    min-height:34px;
}

.table {
    border-radius:1em;
}

.table tbody tr {
    background-color: white;
}

/*.table tbody tr:nth-child(even){
    background-color: white;

}*/

.table tbody tr:first-child {
    
    background-color: rgba(148, 153, 182, 1);
}

footer{
    padding:.5em;
    text-align:center;
}

.homeLogo{
   padding-top:10em;
   text-align:center;
   background:black;
   height:100vh;
}

.homeLogo img.img-responsive{
    display:inline-block;
}

span#AddType {
    display:inline-block;
    font-size:2rem;
}

select.form-control{
    display:inline-block;
}

.deleteWarning {
    background:#813051;
    padding:.25em;
    border-radius:.25em;
    max-width:450px;
    text-align:center;
}

.DeleteButton {
    margin-right:50px;
}






