@using Microsoft.AspNet.Identity
@if (User.Identity.IsAuthenticated)
{
    <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
}
else
{
    <li>@Html.ActionLink("Login", "Login", "Account")</li>
}