@using Microsoft.AspNet.Identity
@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item">@Html.ActionLink("Logout", "Logout", "Account", new { area = "" }, new { @class = "nav-link" })</li>
}
else
{
    <li  class="nav-item">@Html.ActionLink("Login", "Login", "Account", new { area = "" }, new { @class = "nav-link" })</li>
}