@model ReplayFXSchedule.Web.Models.Vendor

@{
    ViewBag.Title = "Create";
}

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Create Vendor</h4>
    </div>
    <div class="card-body">

        @using (Html.BeginForm("Create", "Vendors", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            @Html.Partial("_form")
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var list = [@ViewBag.VendorTypeIDs];
        const listElement = $('#categories');
        listElement.val(list.toString());
        const checkedClass = 'now-ui-icons ui-1_check';
        const displayListElement = $('#VendorTypes');

        function loadCategories() {
            $.ajax({
                url: '/api/v2/vendortypes/@ViewBag.ConId',
                type: 'GET',
                success: function (data) {
                    displayListElement.html('');
                    data.map(function (category) {
                        displayListElement.append('<div class="align-middle" id="cat' + category.id + '" data-id=' + category.id + '><span id="catspan' + category.id + '"></span>' + category.name + '</div>');
                        $('#cat' + category.id).click(function () { toggleItem(category.id); });
                        if (list.indexOf(category.id) > -1) {
                            $('#catspan' + category.id).addClass(checkedClass);
                        }
                    });
                }
            })
        }

        function toggleItem(id) {
            // if it is not there
            // add it to the list input
            // add the checkmark to the category
            if (!$('#catspan' + id).hasClass(checkedClass)) {
                list.push(id);
                listElement.val(list.toString());
                $('#catspan' + id).addClass(checkedClass);
            }
            // if it is there
            // remove it from the list input
            // remove the checkmark on the category
            else {
                var i = list.indexOf(id);
                list.splice(i, 1);
                listElement.val(list.toString());
                $('#catspan' + id).removeClass(checkedClass);
            }
        }

        $('#delete-image').click(function () {

            var image = $("#Image").val();
            console.log("the value of image is: " + image);
            $('#Image').val('');
            $('#imageUrl').attr('src', '/content/img/640x170.png');
        })



        function initialize() {
            loadCategories();
        }

        $(initialize);
    </script>
}