@model ReplayFXSchedule.Web.Models.Game

@{
    ViewBag.Title = "Edit Games";
}

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Edit Game</h4>
    </div>
    <div class="card-body">

        @using (Html.BeginForm("Edit", "Games", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            @Html.Partial("_form")
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var list = [@ViewBag.GameLocationIDs];
        const listElement = $('#locations');
        const displayListElement = $('#GameLocations');
        listElement.val(list.toString());
        const checkedClass = 'now-ui-icons ui-1_check';

        function loadLocations() {
            $.ajax({
                url: '/api/v2/locations/@ViewContext.RouteData.Values["convention_id"]',
                type: 'GET',
                success: function (data) {
                    displayListElement.html('');
                    data.map(function (location) {
                        displayListElement.append('<div class="align-middle" id="cat' + location.id + '" data-id=' + location.id + '><span id="catspan' + location.id + '"></span>' + location.location + '</div>');
                        $('#cat' + location.id).click(function () { toggleItem(location.id); });
                        if (list.indexOf(location.id) > -1) {
                            $('#catspan' + location.id).addClass(checkedClass);
                        }
                    });
                }
            })
        }

        function toggleItem(id) {
            // if it is not there
            // add it to the list input
            // add the checkmark to the category
            if (!$('#catspan' + id).hasClass(checkedClass)) {
                list.push(id);
                listElement.val(list.toString());
                $('#catspan' + id).addClass(checkedClass);
            }
            // if it is there
            // remove it from the list input
            // remove the checkmark on the category
            else {
                var i = list.indexOf(id);
                list.splice(i, 1);
                listElement.val(list.toString());
                $('#catspan' + id).removeClass(checkedClass);
            }
        }

        function fill_form(id) {
            $('#games-by-id').html('');
            $.ajax({
                url: 'https://cors-anywhere.herokuapp.com/http://thegamesdb.net/api/GetGame.php?id=' + id,
                type: 'GET',
                dataType: 'xml',
                success: function (data) {
                    var gameTitle = $(data).find('GameTitle').text(),
                        overview = $(data).find('Overview').text(),
                        releaseDate = $(data).find('ReleaseDate').text(),
                        developer = $(data).find('Developer').text(),
                        genre = $(data).find('genre').text(),
                        players = $(data).find('Players').text();
                    var tempReleaseDate = new Date(releaseDate);
                    console.log(tempReleaseDate);
                    var releaseYear = tempReleaseDate.getFullYear();
                    console.log(releaseYear);
                    $('#GameTitle').val(gameTitle);
                    $('#Overview').val(overview);
                    $('#ReleaseDate').val(releaseYear);
                    $('#Developer').val(developer);
                    $('#Genre').val(genre);
                    $('#Players').val(players);
                    // console.log(gameTitle + '-' + overview + '-' + genre);
                },
                error: function (error) {
                    console.log(error);
                }
            })
        }


        function initialize()
        {
            loadLocations();

            $('#clear-games').click(function () {
                $('#games-by-id').empty();
            });

            $('#lookup-game').click(function () {
                var gamerequested = $('#GameTitle').val().toLowerCase();
                $('#GameTitle').html('');
                $.ajax({
                    url: 'https://cors-anywhere.herokuapp.com/http://thegamesdb.net/api/GetGamesList.php?name=' + gamerequested,
                    type: 'GET',
                    dataType: 'xml',
                    success: function (data) {
                        $('Game', data).each(function () {
                            var id = $(this).find('id').text(),
                                gameTitle = $(this).find('GameTitle').text(),
                                releaseDate = $(this).find('ReleaseDate').text(),
                                platform = $(this).find('Platform').text();
                            //  console.log(id + '-' + gameTitle + '-' + platform);
                            $('#games-by-id').append('<li class="list-group-item form-control" id="game' + id + '" data-id=' + id + '><span id="catspan' + id + '"></span>' + gameTitle + '</br>' + releaseDate + '  ' + platform + '</li>');
                            $('#game' + id).click(function () { fill_form(id); });
                        })
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });

            $('#delete-image').click(function () {

                var image = $("#Image").val();
                console.log("the value of image is: " + image);
                $('#Image').val('');
                $('#imageUrl').attr('src', '/content/img/400x400.png');
            });
        }

        $(initialize);
    </script>
}






