@model ReplayFXSchedule.Web.Models.Game

@{
    ViewBag.Title = "Edit Games";
}

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Edit Game</h4>
    </div>
    <div class="card-body">

        @using (Html.BeginForm("Edit", "Games", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
        @Html.AntiForgeryToken()

        @Html.Partial("_form")
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        locations = [@ViewBag.GameLocationIDs];
        $('#locations').val(locations.toString());

        function load_locations() {
            $.ajax({
                url: '/api/v2/locations/@ViewContext.RouteData.Values["convention_id"]',
                type: 'GET',
                success: function (data) {
                    $('#GameLocations').html('');
                    data.map(function (location) {
                        $('#GameLocations').append('<li id="cat' + location.Id + '" data-id=' + location.Id + '><span id="catspan' + location.Id + '"></span>' + location.Location + '</li>');
                        $('#cat' + location.Id).click(function () { toggle_location(location.Id); });
                        if (locations.indexOf(location.Id) > -1)
                        { $('#catspan' + location.Id).addClass('fa fa-check');}
                    });
                    //$('#CatList').append('</ul>');
                }
            })
        }

        function toggle_location(id) {
            // if it is not there
            // add the hidden input element
            // add the checkmark to the category
            if (!$('#catspan' + id).hasClass('fa fa-check')) {
                locations.push(id);
                $('#locations').val(locations.toString());
                $('#catspan' + id).addClass('fa fa-check');
            }
            else {

                // if it is there
                // remove the hidden input element
                // remove the checkmark on the category
                var i = locations.indexOf(id);
                locations.splice(i, 1);
                $('#locations').val(locations.toString());
                $('#catspan' + id).removeClass('fa fa-check');
            }
        }

        function fill_form(id) {
            $('#games-by-id').html('');
            $.ajax({
                url: 'https://cors-anywhere.herokuapp.com/http://thegamesdb.net/api/GetGame.php?id=' + id,
                type: 'GET',
                dataType: 'xml',
                success: function (data) {
                    var gameTitle = $(data).find('GameTitle').text(),
                        overview = $(data).find('Overview').text(),
                        releaseDate = $(data).find('ReleaseDate').text(),
                        developer = $(data).find('Developer').text(),
                        genre = $(data).find('genre').text(),
                        players = $(data).find('Players').text();
                    var tempReleaseDate = new Date(releaseDate);
                    console.log(tempReleaseDate);
                    var releaseYear = tempReleaseDate.getFullYear();
                    console.log(releaseYear);
                    $('#GameTitle').val(gameTitle);
                    $('#Overview').val(overview);
                    $('#ReleaseDate').val(releaseYear);
                    $('#Developer').val(developer);
                    $('#Genre').val(genre);
                    $('#Players').val(players);
                    // console.log(gameTitle + '-' + overview + '-' + genre);
                },
                error: function (error) {
                    console.log(error);
                }
            })
        }


        function initialize()
        {
            load_locations();

            $('#clear-games').click(function () {
                $('#games-by-id').empty();
            });

            $('#lookup-game').click(function () {
                var gamerequested = $('#GameTitle').val().toLowerCase();
                $('#GameTitle').html('');
                $.ajax({
                    url: 'https://cors-anywhere.herokuapp.com/http://thegamesdb.net/api/GetGamesList.php?name=' + gamerequested,
                    type: 'GET',
                    dataType: 'xml',
                    success: function (data) {
                        $('Game', data).each(function () {
                            var id = $(this).find('id').text(),
                                gameTitle = $(this).find('GameTitle').text(),
                                releaseDate = $(this).find('ReleaseDate').text(),
                                platform = $(this).find('Platform').text();
                            //  console.log(id + '-' + gameTitle + '-' + platform);
                            $('#games-by-id').append('<li class="list-group-item form-control" id="game' + id + '" data-id=' + id + '><span id="catspan' + id + '"></span>' + gameTitle + '</br>' + releaseDate + '  ' + platform + '</li>');
                            $('#game' + id).click(function () { fill_form(id); });
                        })
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });

            $('#delete-image').click(function () {

                var image = $("#Image").val();
                console.log("the value of image is: " + image);
                $('#Image').val('');
                $('#imageUrl').attr('src', '/content/img/400x400.png');
            });
        }

        $(initialize);
    </script>
}






