@model ReplayFXSchedule.Web.Models.GuestType

@{
    ViewBag.Title = "Create Guest Type";
}

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Create Guest Type</h4>
    </div>
    <div class="card-body">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            @Html.Partial("_form")
        }


        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</div>