@model ReplayFXSchedule.Web.Models.ScreenImage

@{
    ViewBag.Title = "Create";
}

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Create Screen Background</h4>
    </div>
    <div class="card-body">

        @using (Html.BeginForm("Create", "ScreenImages", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            @Html.Partial("_form")
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $('#delete-image').click(function () {

            var image = $("#Image").val();
            console.log("the value of image is: " + image);
            $('#Image').val('');
            $('#imageUrl').attr('src', '/content/img/640x170.png');
        })
    </script>
}